# node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# optional npm cache directory
.npm

# documnetation
docs.json

# project specific
# keep sample data but ignore large datasets
events/event*.json
sessions/event_*_sessions.json

# keep processed data for demo but allow override
public/data/sessions-data.json
public/data/update-summary.json

